.Rproj.user
.Rhistory
.RData
.Ruserdata

# MacOS
.DS_Store

# Folders
admin
drafts
references
presentations

# Confidential data
data/wcgop/raw
data/wcgop/processed
data/wcgop/figures
data/wcgop/figures_julia
data/cdfw_obs/raw
data/cdfw_obs/processed
data/cdfw_obs/figures
data/swfsc_obs/raw
data/swfsc_obs/processed
data/swfsc_obs/figures
data/comm_permits/raw
data/comm_permits/processed
data/comm_permits/figures
data/gillnet_logbooks/raw
data/gillnet_logbooks/processed
data/gillnet_logbooks/figures
data/landings_receipts/raw
data/landings_receipts/processed
data/landings_receipts/figures
data/trawl_logbooks/raw
data/trawl_logbooks/processed
data/trawl_logbooks/figures

